doctype html
html
    head
        title Popular Tweets
        include header.pug
        include navbar.pug
        h1 Popular Tweets
        include sort.pug
        br
        table#populartweets
            tr
                th Posted
                th Tweet
                th Likes
                th Like
                th Edit
                th Submit
                th Delete
            each post in populartweets
                tr
                    td= post.date
                    td= post.message
                    td= post.likes
                    td
                        button.like-btn(tweet-id=post.id) Like
                    td
                        #edit-tweet
                            form(action='tweet' method='put')
                                input(type='text', id='tweet', name='inputField', maxlength='14')
                    td
                        button.edit-btn(tweet-id=post.id) Edit
                    td
                        button.delete-btn(tweet-id=post.id) Delete
        br
        include pagination.pug